# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.venv/
venv/
ENV/
env/

# Databases
*.db
*.sqlite

# Node / Frontend
node_modules/
dist/
.env
.env.local
.env.*.local

# IDEs
.vscode/
.idea/
.DS_Store
